@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

/* Font linked */

/* Shared Styles */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  cursor: pointer;
  border-radius: 5px;
  background: #fd6e0a;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 36px 18px 36px;
}
.sec-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.sec-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0;
}
/* Shared Styles End */

/* Nav Start */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
nav h3 {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  cursor: pointer;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
  margin-right: 51px;
}
nav a {
  cursor: pointer;
  text-decoration: none;
  color: #474747;
}

/* Header Related Styles */

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
  padding-top: 30px;
}
.banner {
  display: flex;
  padding: 115px 30px 0px 200px;
  justify-content: space-between;
}
.banner img {
  width: 648px;
  height: 676px;
}
.banner-content {
  max-width: 585px;
}
.btn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.btn1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: #fd6e0a;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
}
.skill img {
  width: 44px;
  border-radius: 10px;
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
  margin-bottom: 5px;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.btn-div {
  display: flex;
  gap: 30px;
}

/* main section styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section styles */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0px;
}
.about-info-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.about-info {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.info-title {
  text-align: center;
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.info-description {
  text-align: center;
  color: #474747;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
/* Skills Related styles */

.what-i-do-des {
  padding: 30px 150px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  background: #fff;
  padding: 30px 33px;
  padding: 33px;
  height: 300px;
  width: 290px;
}

.skill-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 20px;
}
.skill-title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  padding-top: 30px;
}
/* Resume section styles */
.resume-colum-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 135px;
  justify-content: center;
  margin-top: 113px;
}
.resume-item {
  margin-top: 30px;
}
.resume-item-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.resume-item-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.res {
  margin-bottom: 30px;
}
.resume-item-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
}
.resume-container hr {
  margin-top: 30px;
}
.download-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.btn3 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.resume {
  margin: 130px 0;
}
footer {
  display: flex;
  background: #fff8f3;
  text-align: center;
  gap: 20px;
  padding: 150px;
}

.footer-col {
  width: 100%;
}
.contact input,
textarea {
  width: 100%;
  border-radius: 5px;
  display: block;
  margin-bottom: 24px;
  padding: 18px 35px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.3s ease-in-out;
}

#submit1 {
  width: 100%;
  font-weight: 600;
  height: 64px;
  border-radius: 5px;
  background: #fd6e0a;
  color: #fff;
}

#area {
  width: 100%;
  height: 160px;
}
.social-links {
  display: flex;
  gap: 24px;
  margin-left: 20px;
}
